*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.sign-up-form-div{
	/*width: 60%;*/
	/*background-color: green;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.sign-up-form{
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	padding: 50px 30px;
	width: 30%;
	border: 1px solid black;
}
input{
	margin-bottom: 10px;
	margin-top: 4px;
	padding: 6px 4px;
	font-size: 12px;
}